@import 'src/styles/config';

html {
  @include hide-scrollbar;
  font-size: 10px;
  font-weight: $font-weight-normal;
  background: $color-neutral;
  color: $color-white01;
}

body {
  @include font-space-grotesk;
  @include uppercase;
  margin: 0;
  overflow: auto !important;
  padding: 0 !important;
  height: 100svh;
}

main {
  @include column;
  position: relative;
  min-height: 100svh;
  min-width: 36rem;
}

.app-container {
  @include font-14;
  @include column;
  height: 100svh;

  .view-container {
    margin-top: 6rem;
    flex: 1;
  }
}

img {
  @include no-select;
  pointer-events: none;
  touch-action: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

.overflow-hidden {
  overflow: hidden !important;
}

.title-block {
  @include column;
  gap: 1.2rem;

  .title {
    @include font-28;
    line-height: 4rem;
  }

  .sub-title {
    @include font-16;
    color: $color-white-50-percent;
  }
}

a {
  text-decoration: none;
}

.notistack-SnackbarContainer {
  @include font-space-grotesk;
  @include uppercase;
  width: fit-content !important;
  border-radius: 0 !important;
  z-index: 101 !important;
}

.notistack-MuiContent {
  @include font-space-grotesk;
  @include uppercase;
  font-size: 1.2rem !important;
  border-radius: 0 !important;
}

.wallet-adapter-modal-wrapper {
  @include font-space-grotesk;
  @include uppercase;
  border-radius: 0 !important;

  .wallet-adapter-modal-button-close {
    border-radius: 0 !important;
    background: transparent !important;

    svg {
      fill: $color-secondary;
    }
  }

  .wallet-adapter-modal-list {
    .wallet-adapter-button {
      @include font-space-grotesk;
      @include uppercase;
    }
  }
}

.window-small {
  .app-container {
    @include hide-scrollbar;
    overflow-x: hidden;
  }
}
